* {
    outline: 1px solid red;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Menu superior */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #2b5876;
    color: white;
    padding: 10px 20px;
    gap: 15px;
    z-index: 1000; /* siempre encima del contenido */
}

/* Icono del menu superior */
.menu-icon {
    width: 32px;
    height: 32px;
}

/* Título del menu superior */
.menu-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

/* Botones del menu superior */
.menu a {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s, transform 0.2s;
}

/* Hover */
.menu a:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: translateY(-2px);
}

/* Contenido principal debajo del menú */
.contenido-principal {
    padding-top: 60px; /* igual a la altura de .menu */
}

/* Ajusta márgenes internos si quieres */
.contenido-principal h1,
.contenido-principal h2,
.contenido-principal p {
    margin-top: 0;
}

/* Título de la sección con una imagen a la izquierda */
.titulo-seccion {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
}

/* Título de la sección */
.titulo-seccion h1 {
    margin: 0;
}

/* Icono que acompaña al título de la sección */
.titulo-icono {
    width: 40px;
    height: 40px;
}

/* botones del menu de sección */
.menu-seccion a {
    display: inline-block;
    background: rgba(43, 88, 118, 0.2);
    color: #2b5876;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s, transform 0.2s;
    margin-left: 30px;
}

/* hover de los botones del menu de sección */
.menu-seccion a:hover {
    background: rgba(43, 88, 118, 0.35);
    transform: translateY(-2px);       /* efecto ligero al pasar el cursor */
}

/* Login */

.login-container {
    background: #467391;
    color: #FFF;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 30px;
    color: #333;
}

.login-container form input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    box-sizing: border-box;
}

.login-container form button {
    background: rgba(43, 88, 118, 0.2);
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s, transform 0.2s;

}

.login-container form button:hover {
    background: rgba(255, 255, 255, 0.35);
}

.login-container p.error {
    color: red;
    font-size: 14px;
}