{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="titulo-seccion">
    <img src="{% static 'img/icono_actividad.png' %}" alt="Icono" class="titulo-icono">
    <h1>Editar actividad</h1>
</div>
<nav class="menu-seccion">
    <a href="#" id="btn-cargar">📃 Cargar JSON</a>
    <a href="#" onclick="Guardar()">💾 Guardar</a>
    <a href="">📃 Exportar JSON</a>
    <a href="">⬇ Descargar</a>
    <a href="{% url 'borrar_actividad' form.instance.id %}">⛔ Eliminar</a>
</nav>

<form method="post" enctype="multipart/form-data" class="formulario-actividad" id="formulario-actividad">
    {% csrf_token %}
    <div>{{ form.titulo }}</div>
    <div>
        {% if form.instance.imagen %}
            <img src="{{ form.instance.imagen.url }}" width="200">
        {% else %}
            <p>Carga una imagen de fondo para la actividad</p>
        {% endif %}
    </div>
    <div>{{ form.imagen }}</div>
    <input type="hidden" id="id_json" name="json"> <!-- campo oculto para guardar el JSON generado -->
    <button type="submit">Guardar cambios</button>
</form>


<div id="canvas-wrapper">
    <div id="canvas-container">
      <div id="canvas">

          <!-- espacio para los componentes -->

        <!--  barra de componentes -->
        <div id="toolbox"></div>
        <!-- Panel de propiedades -->
        <div id="properties-panel" class="panel-propiedades">
          <h4>Propiedades</h4>
          <div id="panel-propiedades-texto">
            <label>Texto: <input type="text" id="prop-text"></label><br><br>
          </div>
          <div id="panel-propiedades-correcta">
            <label>Correcta: <input type="checkbox" id="prop-correct"></label><br><br>
          </div>
          <div id="panel-propiedades-respuesta-correcta">
            <label>Respuesta correcta: <input type="text" id="prop-answer"></label>
          </div>
        </div>

      </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="{% static 'js/editor_componentes.js' %}"></script>


<script>
    // convertirmos CharField con el JSON a un objeto de JS
    const json_actividad = JSON.parse('{{ form.instance.json|default:"{}"|escapejs }}');
    document.getElementById("btn-cargar").addEventListener("click", () => {
        // cargamos la actividad
        cargarDesdeJSON(json_actividad.componentes);
    });
</script>

<script>
    // Al seleccionar imagen, se envía automáticamente el formulario
    document.getElementById('{{ form.imagen.id_for_label }}').addEventListener('change', () => {
        document.getElementById('formulario-actividad').submit();
    });

    function Guardar()
    {
        // Al guardar generamos el JSON y luego usamos el boton del form para guardar el registro
        document.getElementById('id_json').value = GenerarJSON(); // GenerarJSON_debug();
        alert(document.getElementById('id_json').value);
        document.getElementById('formulario-actividad').submit();
    }

    function GenerarJSON_debug()
    {
        const exportData = {
            imagen: ObtenerImagenURL(),
            componentes: []
        };
        return JSON.stringify(exportData, null, 2);
    }

    function GenerarJSON()
    {

        const componentes = document.querySelectorAll('.component-wrapper');

        // el objeto que vamos a devolver
        const exportData = {
            imagen: "{% if form.instance.imagen %}{{ form.instance.imagen.url }}{% endif %}",
            componentes: []
        };

        componentes.forEach(comp => {

            // Asegurar lectura correcta del tipo
            const tipo = comp.getAttribute('data-tipo') ||
                comp.getAttribute('tipo') ||
                null;

            const compDiv = comp.querySelector('.component');
            const texto = compDiv ? compDiv.textContent.trim() : '';

            const pos = getAbsolutePosition(comp);

            exportData.componentes.push({
                id: comp.id,
                tipo: tipo,
                x: pos.x,
                y: pos.y,
                width: comp.offsetWidth,
                height: comp.offsetHeight,
                texto: texto,
                correcta: comp.getAttribute('data-correct') === 'true',
                respuesta: comp.getAttribute('data-answer') || null
            });
        });
        return JSON.stringify(exportData, null, 2);
    }

    function ObtenerImagenURL()
    {
        const fileInput = document.getElementById('id_imagen');
        let imagenValue = "";
        if (fileInput && fileInput.files.length > 0) {
            // Crea una URL temporal para la imagen seleccionada
            imagenValue = URL.createObjectURL(fileInput.files[0]);
        } else {
            // Si no hay archivo seleccionado, usa la imagen que ya está en la base de datos (si existe)
            // en caso contrario el campo imagen se queda en blanco en el JSON
            {% if form.instance.imagen %}
                imagenValue = "{{ form.instance.imagen.url|default:'' }}";
            {% endif %}
        }
        return imagenValue;
    }

    function getAbsolutePosition(wrapper) {
        const dx = parseFloat(wrapper.getAttribute("data-x")) || 0;
        const dy = parseFloat(wrapper.getAttribute("data-y")) || 0;
        return {
            x: wrapper.offsetLeft + dx,
            y: wrapper.offsetTop + dy
        };
    }

</script>

{% endblock %}
