{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="titulo-seccion">
    <img src="{% static 'img/icono_actividades.png' %}" alt="Icono" class="titulo-icono">
    <h1>Mis actividades</h1>
</div>
<nav class="menu-seccion">
    <a href="{% url 'nueva_actividad' %}">⭐ Nueva actividad</a>
</nav>

{% if actividades %}
<table class="tabla-actividades">
    <thead>
        <tr>
            <th>Título</th>
            <th>Curso</th>
            <th>Tags</th>
            <th>Editar</th>
            <th>Duplicar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for actividad in actividades %}
        <tr>
            <td>
                <a href="{% url 'visor_actividad' actividad.id %}">
                    <strong>👉 {{ actividad.titulo }}</strong>
                </a>
            </td>
            <td>{{ actividad.curso }}</td>
            <td>{{ actividad.tags }}</td>
            <td>
                <a href="{% url 'editar_actividad' actividad.id %}">
                    <strong>📝 Editar</strong>
                </a>
            </td>
            <td>
                <a href="{% url 'duplicar_actividad' actividad.id %}">
                    <strong>👯 Duplicar</strong>
                </a>
            </td>
            <td>
                <a href="{% url 'borrar_actividad' actividad.id %}">
                    <strong>⛔ Eliminar</strong>
                </a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tienes actividades creadas.</p>
{% endif %}

{% endblock %}