{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- lienzo -->
    <div id="canvas-wrapper">
    <div id="canvas-container">
      <div id="canvas">
      </div>
    </div>
    </div>
    <button id="btn-corregir">Corregir</button>
    <button id="btn-cargar">Cargar JSON de prueba</button>

<script>
    // Parseamos el CharField JSON a objeto JS
    const el_json = JSON.parse('{{ actividad.json|default:"{}"|escapejs }}');
    document.getElementById("btn-cargar").addEventListener("click", () => {
        const canvas = document.getElementById("canvas");
        // Llamamos a cargarVisor pasando el JSON completo
        cargarVisor(el_json);
    });

    // Si quieres mostrar la imagen
    if (el_json.imagen) {
        const img = document.createElement("img");
        img.src = el_json.imagen; // Si está vacío, no hace nada
        img.alt = "{{ actividad.titulo }}";
        document.body.appendChild(img);
    }
</script>

<script src="{% static '/js/visor.js' %}?v={{ timestamp }}"></script>
<script src="{% static 'js/corrector.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

{% endblock %}
